@import 'lib.less';

.element-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - @navbar-height - 48px);
  background-color: @primary-color;
  word-break: break-word;
  * {
    color: white !important;
  }
  &.zoom {
    animation: zoom 0.1s linear;
  }
  @media @xs, @sm {
    height: calc(100vh - @navbar-height - 48px - @button-bottom-drawer-height - @list-menu-bottom-drawer-height);
  }
}
.element-copy-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0.7;
  transition: opacity 0.2s;
  &:hover, &:active {
    opacity: unset;
  }
}