@import 'lib.less';

.cards-cards-container {
  position: relative;
  width: 100%;
}
.cards-card-container {
  position: absolute;
  width: 100px;
  &.drawed {
    right: 0;
  }
  img {
    width: 100px;
  }
}