@import 'lib.less';

.wheel-content-container {
  width: 100%;
  max-width: 900px;
}
.wheel-wheel {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.wheel-wheel-slice {
  position: absolute;
  height: 200px;
  width: 200px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: pink;
  top: 50%;
  transform: rotate(90deg);
}
.wheel-wheel-container {
  position: relative;
}
.wheel-spin-button {
  min-width: 120px;
}
.wheel-result-container {
  height: 32px;
}
.wheel-names-input {
  width: 100%;
}
