@import 'lib.less';

.wheel-content-container {
  width: 100%;
  max-width: 1000px;
}
.wheel-wheel {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.wheel-wheel-slice {
  position: absolute;
  height: 200px;
  width: 200px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: pink;
  top: 50%;
  transform: rotate(90deg);
}
.wheel-wheel-container {
  position: relative;
}
.wheel-spin-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 50%;
  height: 50px;
  min-width: 50px;
  width: 50px;
  padding: 0;
}
.wheel-result-container {
  height: 32px;
}
.wheel-names-input {
  width: 100%;
}
