@import 'lib.less';

.numbers-container {
  min-height: 100%;
}
.numbers-settings-form-desktop {
  max-width: 300px;
}
.numbers-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(110,175,224);
  min-height: calc(100vh - 64px - 48px);
  * {
    color: white !important;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  &.zoom {
    animation: zoom 0.1s linear;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}