@import 'lib.less';

.ant-menu-item {
  display: flex !important;
  align-items: center;
}
.list-tab-icon-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 12px;
  }
  &.selected {
    color: @primary-color;
    span {
      color: @primary-color;
    }
  }
}
.list-button-bottom-drawer {
  margin-bottom: 86px;
  button {
    width: 100%;
  }
}
.list-bottom-drawer-padding {
  @media @xs, @sm {
    height: calc(@button-bottom-drawer-height + @list-menu-bottom-drawer-height)
  }
}