@import 'lib.less';

.ant-menu-item {
  display: flex !important;
  align-items: center;
}
.list-tab-icon-container {
  font-size: 20px;
  display: flex;
  align-items: center;
  &.selected {
    color: @primary-color;
  }
}